# JTS3ServerMod Config File
# Each line which not start with # is a new advertising message.
# The bot write this messages in the order from top to bottom and start from top again.
# Typical BBCode like in Teamspeak 3 Client possible. You can use \n for a new line.
Visit our [url=http://www.homepage.com]Homepage[/url].
